.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: 'Open Sans', sans-serif;
}

.search {
	
	display: -webkit-box;
	
	display: -webkit-flex;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: 'Open Sans', sans-serif;
	padding-top: 40px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	
	
}

.box {
	width: 50%;
	padding: 10px;
	
}

input {
	margin: 10px;
	padding: 5px;
	
}


.queryContainer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	
}

@media only screen and (min-width: 800px) {
.queryContainer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	
}
	
}

.queryTable {
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	background-color: #D3D3D3;
	border-collapse: collapse;
	font-family: 'Open Sans', sans-serif;
}

td {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: -5px;
	margin-bottom: -30px;
	cellspacing: 0;
	
}

tr:hover {
	background-color: #d19cdf;
}

tr:nth-child(even):hover {
	background-color: #d19cdf;
}
tr:nth-child(even) {
    background-color: white;
}

tr:first-child {
    background-color: #581845;
    color: white;
}

input[type=submit], button {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	background-color: white;
	border-style: solid;
	border-color: #D3D3D3;
	padding: 5px;
}

input[type=submit]:hover, button:hover {
	background-color:#581845;
	color: white;
}

input[type=text] {
	width: 75%;
	font-family: 'Open Sans', sans-serif;
}

button {
	font-size: 30px;
}
/* this is for the normalway */

header {
	background-color: #C70039;
	color: #FFC300;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	border-radius: 10px;
}

.orangeBorder {
	border-style: solid;
	border-color: #FF5733;
	border-radius: 25px;
	display: inline;
	padding: 25px;
}

#purpleText  {
	color: #581845;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.container2 {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
  
}

.box {
width: 33%;
margin: 20px;
background-color: #FF5733;
border-radius: 0 0px 10px 10px;
padding: 10px;
}

.search {
width: 95%;
margin: 20px;
border-style: solid;
border-color: #FF5733;
background-color: white;
border-radius: 0 0px 10px 10px;
padding: 10px;

}

.index {
	width: 50%;
	margin: 40px;
	
}

search h4 {
	color: #C70039;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-top: 5px;

}


.search p, form {
	color: #581845;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;

}

a {
	color: #C70039;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}



.box h4 {
	color: #FFC300;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-top: 5px;
}

.box p {
	color: #581845;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.About {
	z-index: 2;
	color: purple;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
	text-align: center;
}